PRODUCT_NAME = CoreNode
ONLY_ACTIVE_ARCH = NO
ARCHS = i386 x86_64
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.6
OTHER_LDFLAGS = -lv8 -lnode
ALWAYS_SEARCH_USER_PATHS = NO
WRAPPER_EXTENSION = framework
INFOPLIST_FILE = src/CoreNode-Info.plist
GCC_PREFIX_HEADER = src/CoreNode-Prefix.pch
INSTALL_PATH = @executable_path/../Frameworks

FRAMEWORK_VERSION = "A"
CURRENT_PROJECT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)

NODE_PREPROCESSOR_DEFINITIONS = _LARGEFILE_SOURCE _FILE_OFFSET_BITS=64 _GNU_SOURCE EV_MULTIPLICITY=0
NODE_HEADER_SEARCH_PATHS = "$(SRCROOT)/lib/node/src" "$(SRCROOT)/lib/node/deps/v8/include" "$(SRCROOT)/lib/node/deps/libeio" "$(SRCROOT)/lib/node/deps/libev"
NODE_LIBRARY_SEARCH_PATHS = "$(CONFIGURATION_BUILD_DIR)/node"

HEADER_SEARCH_PATHS = $(NODE_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited) $(NODE_LIBRARY_SEARCH_PATHS)
GCC_PREPROCESSOR_DEFINITIONS = $(NODE_PREPROCESSOR_DEFINITIONS)

GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_ENABLE_CPP_EXCEPTIONS = YES
ZERO_LINK = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = used
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_DYNAMIC_NO_PIC = NO